<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".services.BackupService"
            android:label="Backup Manager" />

        <activity
            android:name=".ui.profile.TermsOfUseActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:launchMode="singleTop"
            android:alwaysRetainTaskState="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.ui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.crash.CrashReporterActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/title_activity_crash_reporter" />
        <activity
            android:name=".ui.devtools.DeveloperToolsActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_developer"
            android:exported="true">
            <intent-filter>
                <action android:name="com.activity.DeveloperToolsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.ui.settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_target_translations"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-tstudio" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.tstudio" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.newtranslation.NewTargetTranslationActivity"
            android:label="@string/title_activity_new_target_translation"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.translate.TargetTranslationActivity"
            android:label="@string/title_activity_target_translation_detail"
            android:launchMode="singleTop"
            android:alwaysRetainTaskState="true"
            android:parentActivityName=".ui.home.HomeActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.publish.PublishActivity"
            android:label="@string/title_activity_publish"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.legal.LegalDocumentActivity"
            android:label=""
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="com.activity.LegalDocumentActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.draft.DraftActivity"
            android:label="@string/preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.translate.TargetTranslationActivity" />
        </activity>
        <activity
            android:name=".ui.profile.LoginDoor43Activity"
            android:windowSoftInputMode="adjustResize"
        />
        <activity
            android:name=".ui.profile.LoginOfflineActivity"
            android:windowSoftInputMode="adjustResize"
        />
    </application>

</manifest>
